{% extends "base.html" %}

{% block content %}
       
<div class="container">

    <div class="row">

        <h1 class="center" >

            This is a Machine Learning Demo Azure

        </h1>
    </div>


    <div class="row">
    
        <div class="col-6">

           <h2 class="center"> Original Image </h2> 
       
        </div>
    
        <div class="col-6">

            <h2 class="center"> Processed Image </h2>
            
            <h3 class="center"> Brands Detected: {{brands_detected}} </h3>

   
        </div>

    </div>

    <div class="row">
    
        <div class="col-6">

            <img src="data:image/jpeg;base64,{{ img_data }}" class="idx-img" > 

        </div>
    
        <div class="col-6">

            <img src="data:image/jpeg;base64,{{ img_data2 }}" class="idx-img" > 
   
        </div>

    </div>

    <div class="row">
    
        <div class="col-6">


        </div>
    
        <div class="col-6">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Confidence</th>
                    </tr>
                </thead>
                <tbody>
                    {% for brand in metadata %}
                            <tr >
                                <th scope="row">{{brand[0]}}</th>
                                <td>{{brand[1]}}</td>
                                <td>{{brand[2]}}</td>
                             </tr>
                    {% endfor %}    
                </tbody>
            </table>
   
        </div>

    </div>


</div>
        
{% endblock %}
